.board {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

/*
.board {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}
*/
